.page {
  display: grid;
  grid-template-rows: 70em auto 5%;
  grid-template-columns: 0.2fr 1fr 0.1fr minmax(min-content, 1fr) 0.2fr 1fr 1fr 0.2fr;
  background-color: #85dbc3;
}

.content {
  grid-column-start: 6;
  grid-column-end: 8;
}

.projectWrapper {
  grid-column-start: 2;
  grid-column-end: 8;
}
