.page {
    display: grid;
    grid-template-rows: 8fr auto 0.2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #85dbc3;
}

.body {
    grid-column-start: 1;
    grid-column-end: 3;
}

.content {
    grid-column-start: 3;
    grid-column-end: 5;
}

.projectWrapper {
    grid-column-start: 1;
    grid-column-end: 5;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #e27d60;
}